<!DOCTYPE html>
<html>
    <head>
        <title>ログイン</title>
        
        <link type="text/css" rel="stylesheet" href="webjars/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="css/common.css" />
        <script type="text/javascript" src="webjars/vue/0.12.6/dist/vue.min.js" ></script>
        <script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js" ></script>
        <script type="text/javascript" src="js/common.js" ></script>
        <meta charset="UTF-8">
    </head>
    <body id="app">
     <app-header user="{{user}}"></app-header>
        <div class="container" id="main_content">
            <h1>ログイン</h1>
            <form  method="POST" class="form" v-on="submit:login">
                <bs-fc label="ID" name="id" error="{{idError}}">
                   <input type="text" name="id" v-model="id" id="id" class="form-control" placeholder="user1" />
                </bs-fc>
                <bs-fc label="password" name="password" error="{{passwordError}}">
                   <input type="password" name="password" v-model="password" id="password" class="form-control" placeholder="user1" />
                </bs-fc>
               <input type="submit" class="btn btn-primary" value="ログイン"/>
            </form>
        </div>
       
        <app-footer></app-footer> 
        <script type="text/javascript" src="js/login.js"></script>
    </body>
</html>
